body
{


    background-color: rgb(204, 121, 19);
    text-align: center;

}

h1{
    color: white;
}
#ck{
    background-color: salmon;
}
#fp
{
    
    background-color:crimson;
    color:black;
}
#ps{
    background-color: aqua;
    color: blue;
}